
# {{ pvd }}

{% for typ, classes in typ_classes.items() %}
## {{ pvd }}.{{ typ }}
{% for class in classes -%}
<img src="../../resources/{{ pvd }}/{{ typ }}/{{ class['icon'] }}" width="75" height="75" title="{{ class['name'] }}{% if class['alias'] %}, {{ class['alias'] }} (alias){% endif %}"/>
{%- endfor %}
{%- endfor %}
